<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Weight Imprinting </title>
  </head>

<body>
	<div class="container-fluid">
		<br/>

		<button id="class-1"  class="btn btn-primary" onclick="add_image(this.id)">Train 1</button>
		<button id="class-2"  class="btn btn-primary" onclick="add_image(this.id)">Train 2</button>
		<button id="class-3"  class="btn btn-primary" onclick="add_image(this.id)">Train 3</button>

		<button id="imprint_weights"  class="btn btn-dark">Imprint Weights</button>

        <hr>

        
        <div id="image_div" class="card-columns"> </div>
        
        <div id="image_outer" style="visibility: hidden; width:220px;">
            <div id="image_inner" class="card">
                <img class="card-img-top" src="" alt="Image">

                <div class="card-body">
                    <p class="card-text"> 
                        <a href="#" class="btn btn-outline-primary" onclick="delete_image(this)">Delete</a> 
                    </p>
                </div>

            </div>
        </div>

			
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</body>

</html>

<script>

function add_image(_class) {
    $.ajax({
        url: "/images/" + _class + "_0",
        type: "post",
        dataType: "json",
        data: "",

        success: function(data) {
            load_image(data.image[0]);
            }
    });
}

function load_image(value) {
        console.log(value);
        $("#image_outer .card-img-top").attr("src", "/images/" + String(value["class"]) + "_" + String(value["id"]));
        image_div = $("#image_inner").clone().attr("id", value["class"]);

        $("#image_div").append(image_div);
}

function load_images() {
    $.ajax({
        url: "/images/",
        type: "get",
        dataType: "json",
        data: "",
        
        success: function(data) {
            $.each(data.images, function(index, value) {
                load_image(value);
            });
        }
    });
}

function delete_image(image) {
    var class_id = $(image).parent().parent().siblings().first().attr("src").split("/")[2];
    
    $.ajax({
        url: "/images/" + class_id,
        type: "delete",
        
        success: function(data) {
            $(image).parent().parent().parent().remove();
        }
    });
}


$( document ).ready(function() {
    load_images();
})

</script>
