<!doctype html>
{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
	<br/>

	<button id="class-1"  class="btn btn-primary" onclick="add_image(this.id)">Train 1</button>
	<button id="class-2"  class="btn btn-primary" onclick="add_image(this.id)">Train 2</button>
	<button id="class-3"  class="btn btn-primary" onclick="add_image(this.id)">Train 3</button>

	<button id="imprint_weights"  class="btn btn-dark" onclick="imprint()">Imprint Weights</button>
	<button id="reset" class="btn btn-danger" onclick="reset()"> Reset </button>

<hr>


<div id="image_div" class="card-columns"> </div>

<div id="image_outer" style="visibility: hidden; width:220px;">
    <div id="image_inner" class="card">
	<img class="card-img-top" src="" alt="Image">

	<div class="card-body">
	    <p class="card-text"> 
		<a href="#" class="btn btn-outline-primary" onclick="delete_image(this)">Delete</a> 
	    </p>
	</div>

    </div>
</div>

		
</div>
{% endblock %}

